"*":
  "atom-alignment":
    alignBy: [
      "=>"
      ":="
      "="
    ]
  core:
    disabledPackages: [
      "atom-beautify"
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
  editor:
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "83664194-48a1-4cd7-88ab-144833d3b6d7"
  "linter-ui-default":
    showPanel: true
  "tree-view": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
